<ion-view>
	<ion-content>
		<ion-list>
		  <ion-item>
		    Hello, 
		  </ion-item>
		  <ion-item>
		    Hello, 
		  </ion-item>
		  <ion-item>
		    Hello, 
		  </ion-item>
		  <ion-item>
		    Hello, 
		  </ion-item>
		  <ion-item>
		    Hello, 
		  </ion-item>
		  <ion-item>
		    Hello, 
		  </ion-item>

		</ion-list>
	</ion-content>
</ion-view>